body{
  background-color: orangered;
  text-align: center;
}
.name{
   font-family:"Josefin Sans";fantasy;
   font-size:100px;
   color:white
}

input{
  color: black;
  font-size:30px;
  cursor:pointer;
  width: 80px;
  height: 80px;
  background-color: greenyellow;
  border-radius: 20px;
  margin-left:0px;
}
.first,.sec,.third,.fourth,.fifth{
  margin-bottom: 20px;
}
input[type="text"]{
  width:250px;
  text-align:center;
}
input[type="button"]:hover{
  background-color: #FF1493;
}
.a{
  color: deeppink;
}
